// Open sans
@font-face
  font-family "Open Sans"
  src url(unquote($resource-url+'assets/fonts/Open_Sans/OpenSans-Regular.ttf')) format('truetype')
  font-weight: normal
  font-style normal

@font-face
  font-family "Open Sans"
  src url(unquote($resource-url+'assets/fonts/Open_Sans/OpenSans-Italic.ttf')) format('truetype')
  font-weight: normal
  font-style italic

@font-face
  font-family "Open Sans"
  src url(unquote($resource-url+'assets/fonts/Open_Sans/OpenSans-Bold.ttf')) format('truetype')
  font-weight: bold;
  font-style normal

@font-face
  font-family "Open Sans"
  src url(unquote($resource-url+'assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf')) format('truetype')
  font-weight: bold
  font-style italic

// Merriweather
@font-face
  font-family Merriweather
  src url(unquote($resource-url+'assets/fonts/Merriweather/Merriweather-Regular.ttf')) format('truetype')
  font-weight: normal
  font-style normal

@font-face
  font-family Merriweather
  src url(unquote($resource-url+'assets/fonts/Merriweather/Merriweather-Italic.ttf')) format('truetype')
  font-weight: normal
  font-style italic

@font-face
  font-family Merriweather
  src url(unquote($resource-url+'assets/fonts/Merriweather/Merriweather-Bold.ttf')) format('truetype')
  font-weight: bold;
  font-style normal

@font-face
  font-family Merriweather
  src url(unquote($resource-url+'assets/fonts/Merriweather/Merriweather-BoldItalic.ttf')) format('truetype')
  font-weight: bold
  font-style italic