@require 'src/spacing.styl'

/*! Layouts */

// display
for i in (block inline flex grid none)
  .fika-app
    .d-{i}
      display: i

for i in (center flex-start flex-end)
  .fika-app
    .fika-align-{i}
      align-items: i

for i in (space-around space-between center flex-start flex-end)
  .fika-app
    .fika-justify-{i}
      justify-content: i

.fika-app
  .row
    flex-direction row

  .flex-column
    flex-direction column

  .flex-y-center
    display flex
    align-items center

  .d-flex
    .flex-fill
      flex: 1 1 auto
    .flex-none
      flex: none
    .flex-wrap
      flex-wrap: wrap
    &.row
      flex-direction row
    &.column
      flex-direction column

// spacing
directions = a y x l r t b
// auto margin
for d in directions
  .fika-app
    .m{d}-auto
      $margin(d, auto)

// margin
for i in (0..6)
  for d in directions
    .fika-app
      .m{d}-{i}
        $margin(d, i)

// padding
for i in (0..6)
  for d in directions
    .fika-app
      .p{d}-{i}
        $padding(d, i)

