@import "variables.styl"

*
  box-sizing: border-box

html
body
  $margin(a, 0)
  $padding(a, 0)

button
  border: none
  outline: none
  text-decoration: none
  -webkit-appearance: none;
  -moz-appearance: none;