prefix := f

sans-serif()
  font-family: -apple-system,Helvetica,Roboto, Arial, sans-serif

radius(radius = 8px)
  border-radius: radius

$border-opacity := 68%

$hover-opacity := 0.12

$shadows-opacity := rgba(0,0,0, .06)
$shadows := 0 8px 16px 0 $shadows-opacity, 0 12px 24px 0 $shadows-opacity
shadow($depth = 1, important = false)
  box-shadow: $shadows[$depth - 1]  (important ? !important : )

$transition := {
  fast-out-slow-in: cubic-bezier(0.4, 0.0, 0.2, 1),
  linear-out-slow-in: cubic-bezier(0.0, 0.0, 0.2, 1),
  fast-out-linear-in: cubic-bezier(0.4, 0.0, 1, 1),
  ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1),
  fast-in-fast-out: cubic-bezier(.25,.8,.25,1),
  swing: cubic-bezier(.25,.8,.50,1)
}

short-transition()
  transition: 0.15s $transition.ease-in-out

drawer-transition()
  transition: 0.3s $transition.fast-in-fast-out

$center()
  display flex
  align-items center
  justify-content center

$scroll-bar-color($theme)
  &::-webkit-scrollbar-thumb
    background: rgba($theme.text, 0.35)
  &::-webkit-scrollbar-thumb:hover
    background: rgba($theme.text,0.6)

$scroll-bar()
  &::-webkit-scrollbar
    width: 6px
    height: 6px
    -webkit-appearance: none
  &::-webkit-scrollbar-track
    background:transparent
  &::-webkit-scrollbar-thumb
    border-radius: 6px
  &::-webkit-scrollbar-thumb:hover
    opacity 1