@import "../variables.styl"

/*! Article */


.f-title
  $margin(y, 0)
  font-size: 40px
  line-height 52px
  font-weight bold

.f-subtitle
  $margin(y, 4)
  font-size: 16px
  sans-serif()

.f-article
  $margin(x, auto)
  width: 100%
  max-width: 720px
  position relative

// rich text
.f-content
  $margin(t, 5)
  line-height 1.6

  *
    word-break: break-word;

  a
    & ,&:link ,&:visited ,&:active
      color:$primary.dark

  img
    max-width: 100%
    object-fit: cover
    $margin(x, auto)
    display: block

  pre
    $padding(a, 2)
    line-height: 1 !important;
    overflow-x auto
    $scroll-bar()

  figure
    $margin(y, 3)
    $margin(x, 0)

  figcaption
    *
      font-size: inherit !important
    sans-serif()
    font-size: 16px !important

  blockquote
    font-style: italic;
    $margin(x, 0)
    $padding(l, 4)

  table
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    td, th
      $padding(a, 1)

  sup
  sub
    line-height: 1

  iframe
    border:none
    &[src^="https://player.vimeo.com/video"]
    &[src^="https://www.youtube.com/embed"]
      width:100%
      height:394px


theme-tinting($theme)
  $border-color = $theme.light ? tint($theme.text, $border-opacity) : shade($theme.text, $border-opacity)
  f-content($border-color, $theme)

f-content($border-color, $theme)
  table
    td, th
      border:solid 1px $border-color

  blockquote
    border-left: solid 5px $border-color

  pre
  code
    background: $theme.bg
    $scroll-bar-color($theme)


theme(theme-tinting, "f-content")