/*! Photo */

grid-default($theme)
  div.fill
    background: $theme.bg

theme(grid-default, "photo-grid-default")

$background-config()
  background-attachment fixed
  background-repeat: no-repeat;
  background-size cover
  background-position center

.fika-app
  .fika-bg
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    pointer-events none
    $background-config()
    // photo bg switch
    opacity: 0
    short-transition()

    &-blur
      filter: blur(5px)

  .fika-toc-overlay
    position: absolute
    top: 0
    z-index: -1
    height: 100%;
    width: 100%;
    $background-config()
    //filter: contrast(0.95) blur(3px);
    br(60px)
    display none
    // photo bg switch
    opacity: 0
    short-transition()

  a.fika-bg-credit
    position: fixed
    bottom: 8px
    right: 24px
    font-size: 11px
    color: #eee


// adjust color when photo bg is turned on
.fika-app.fika-bg-on
  .fika
    &-bg
      opacity 1
    &-toc-overlay
      opacity 1

  &.fika-bg-light
    .fika
      &-toc-static
        text-shadow: rgba(#000, 0.32) 1px 1px 7px,
                rgba(#222, 0.25) 1px 2px 2px,
                rgba(#222, 0.1) 0px 0px 7px
        a
          &:link ,&:visited ,&:active, &:not([href]):not([tabindex])
            color: #fff
            opacity 1 !important
      &-footer
        color: #fff

  &.fika-bg-dark
    .fika
      &-toc-static
        text-shadow: rgba(#fff, 0.32) 1px 1px 7px,
                rgba(#ddd, 0.25) 1px 2px 2px,
                rgba(#999, 0.1) 0px 0px 7px
        a
          &:link ,&:visited ,&:active, &:not([href]):not([tabindex])
            color: #222
            opacity 1 !important
      &-footer
        color: #222
