@import '../variables.styl'

/*! Button */

btn($theme)
  &:hover
    background: rgba($theme.text, $hover-opacity)

  &.active
    border: 2px solid $theme.accent
    color: $theme.accent

theme(btn, "btn")

.fika-app
  button.fika-btn
    $center()
    display: inline-flex
    radius(18px)
    height: 36px
    $padding(x,1)
    color: inherit
    cursor: pointer
    font-size: 14px
    background: none

    & > *
      pointer-events: none

    &-icon
      width: 36px
      border-radius: 100%
      $padding(a, 0)

    &.fika-btn-large.fika-btn-icon
      height: 48px
      width: 48px

    &.fika-btn-depress
      opacity 0.4

      &:hover
      &.active
        opacity 1


.fika-app
  button.fika-btn
    &
    &:focus
    &:visited
    &:hover
    &:active
      border: none
      outline: none
      text-decoration: none
      apprearance: none
      -webkit-appearance: none
      box-shadow: none