@import '../variables.styl'

/*! Drawer */

f-drawer($theme)
  background: $theme.paper
  color: $theme.text
  $scroll-bar-color($theme)

  &-tile:hover
    background: rgba($theme.text, $hover-opacity)

  hr
    $margin(x, 1)
    border: solid 1px rgba($theme.text, 0.18)


theme(f-drawer, 'f-drawer')

.f-drawer
  position fixed
  left -320px
  top 0
  height 100vh
  width 320px
  $padding(a, 2)
  sans-serif()
  drawer-transition()
  z-index 100
  overflow-y auto
  $scroll-bar()
  @media print
    display none

  &-on
    left:0

  &-content
    overflow hidden

    &-wrap
      display flex
      transition: 0.3s $transition.fast-in-fast-out

      > *
        width 100%
        min-width 100%
        $margin(r, 2)
        $padding(a, 1)