@import '../variables.styl'

/*! Drawer */

f-drawer($theme)
  background: $theme.paper
  color: $theme.text

  &::-webkit-scrollbar-thumb
    background: rgba($theme.text, 0.35)
  &::-webkit-scrollbar-thumb:hover
    background: rgba($theme.text,0.6)

  &-btn
    background: tint($theme.text, 20%)
    color: $theme.paper

  &-tile:hover
    background: rgba($theme.text, $hover-opacity)

  hr
    $margin(x, 1)
    border: solid 1px rgba($theme.text, 0.18)


theme(f-drawer, 'f-drawer')

.f-drawer
  position fixed
  left -375px
  top 0
  height 100vh
  width 375px
  $padding(a, 2)
  sans-serif()
  drawer-transition()
  z-index 1
  overflow-y auto
  &::-webkit-scrollbar
    width: 6px
    height: 6px
    -webkit-appearance: none
  &::-webkit-scrollbar-track
    background:transparent
  &::-webkit-scrollbar-thumb
    border-radius: 6px
  &::-webkit-scrollbar-thumb:hover
    opacity 1

  &-on
    left:0

  &-btn
    position: fixed
    left: -72px
    top: 24px
    height: 48px
    width: 72px
    padding: 6px
    text-align right
    border-radius: 0 24px 24px 0
    box-shadow 0 2px 12px 0 rgba(0,0,0,.24)
    short-transition()
    cursor pointer

    &-show
      left: -24px
      transition-delay 0.25s

    &:hover
      transform translateX(16px)

  &-content
    $margin(t, 4)
    overflow hidden

    &-wrap
      display flex
      transition: 0.3s $transition.fast-in-fast-out

      > *
        width 100%
        min-width 100%
        $margin(r, 2)
        $padding(a, 1)

  /*
  &-tile
    $padding(a, 1)
    radius(4px)
    display flex
    align-items center
    cursor pointer
    font-weight bold

    span
      font-size: 16px
      $margin(l, 2)
  */
