@import "../variables.styl"

/*! Feedback */

feedback($theme)
  &-divider
    border-top: 1px solid $theme.text

theme(feedback, "feedback")

.fika-app
  .fika-feedback
    sans-serif()
    text-align: center
    font-size: 16px
    $margin(y, 7)
    @media print
      display none

    &-divider
      $margin(y, 2)
      $margin(x, auto)
      width: 120px

    &-inst
      text-align center
      font-size: 12px

    .fika-feedback-button.fika-feedback-button-active
        opacity 1
