@import "../variables.styl"

/*! highlights */

f-hl($theme)
  background: $theme.accent

  &-list
    a
      span
        background: $theme.accent
        box-shadow: 8px 0 0 $theme.accent, -8px 0 0 $theme.accent


theme(f-hl, "f-hl")


.f-hl
  $padding(x, 1)
  border-radius 4px 24px 24px 4px

.f-hl-list
  a
    display block
    text-align: justify
    $margin(b, 4)
    cursor: pointer
    text-decoration none

    &:hover
      text-decoration underline

    span
      $padding(y,1)
      line-height 1.5
      -webkit-box-decoration-break: clone
      box-decoration-break: clone