@import '../variables.styl'

/*! Icons*/

.fika-icon
  color: inherit
  fill: currentColor
  width: 24px
  max-width: 24px
  height 24px

  &.fika-icon-large
    width: 32px
    max-width: 32px
    height 32px