

/*! Select */

//menu
menu($theme)
  background: $theme.paper
  color: $theme.text
  &-view-cont
    border-right: 1px solid $border-color($theme)
    $scroll-bar-color($theme)

  &-login
    background: rgba($theme.text, 0.2)

tab($theme)
  background: $theme.bg
  &-item
    &.active
      background: $theme.accent
    &:not(.active):hover
      background: rgba($theme.accent, 0.2)

select($theme)
  background: $theme.bg
  &-item
    &.active
      background: $theme.accent
    &:not(.active):hover
      background: rgba($theme.accent, 0.2)
  &-theme
    border: 1px solid $theme.text

toggle($theme)
  background: rgba($theme.text, 0.2)

input($theme)
  border-bottom-color: $border-color($theme)
  color: $theme.text
  &::placeholder
    color: rgba($theme.text, 0.4)


// get colors for fika-select-theme
for $name, $theme in $themes
  .fika-select-theme.theme-{$name}
    background: $theme.bg

theme(menu, "menu")
theme(tab, "tab")
theme(select, "select")
theme(toggle, "toggle")
theme(input, 'input')


.fika-app
  .fika-menu
    position: absolute
    top: 48px
    left: -316px
    radius()
    shadow(2)
    transform scale(0.9)
    transform-origin top right
    opacity 0
    medium-transition()
    pointer-events none
    cursor auto
    display flex
    flex-direction row-reverse
    height 400px
    sans-serif()
    overflow hidden
    &-on
      transform scale(1)
      opacity 1
      pointer-events auto

    &-nav
      $padding(t,3)
      display flex
      width 200px
      &-item
        cursor pointer
        $padding(x,2)
        $padding(y,1)
        font-size: 20px
        opacity 0.4
        &:hover
          opacity 0.7
        &.active
          opacity 1
        &.small
          font-size: 14px
        &.static
          opacity 1 !important


    &-login
      $margin(t, 1)
      $padding(y, 2)
      font-size: 20px
      short-transition()
      &:hover
        cursor:pointer

    &-view-cont
      $scroll-bar()
      overflow-y: auto
      width 320px
    &-view
      width 100%
      $padding(a,3)
      display none
    &-label
      $margin(b, 1)
      font-size: 20px
      &-sec
        font-size: 16px
      &-desc
        margin-top: 4px
        font-size: 13px
        font-weight normal
        opacity 0.8


  .fika-tab
    height 32px
    width 100%
    radius(8px)
    display flex
    overflow hidden
    cursor pointer
    &-item
      flex: 1
      text-align center
      text-transform uppercase
      font-weight bold
      $center()
      short-transition()

  .fika-select
    display flex
    flex-direction column
    radius(4px)
    $padding(y, 1)
    &-item
      cursor pointer
      height: 32px;
      $padding(x, 2)
      display: flex;
      align-items: center;
      radius(4px)
      short-transition()
      & .fika-autopilot-delete
        margin-right:-8px

    &-themes
      display flex
      & .fika-select-theme
        box-sizing border-box
        cursor pointer
        $margin(r, 1)
        border-radius 50%
        height 40px
        width 40px
        short-transition()
        &.active
          transform scale(1.1)
          border: solid 4px $primary.dark


  input[type="checkbox"]
    display none
    & + label.fika-toggle:before
      $margin(a, 0)
      float: clear
    &:checked + label.fika-toggle
      background: $primary.dark
      &:before
        left: 50%
        content: ""
        san-serif()
        $margin(a, 0)
        float: clear
    &:hover+label:after
      display none
  .fika-toggle
    $margin(l, 1)
    min-width 48px
    width 48px
    height 28px
    border-radius 16px
    position relative
    padding: 4px
    cursor: pointer
    &:before
      content ' '
      position absolute
      height 20px
      width 20px
      left 4px
      medium-transition()
      border-radius 10px
      background: #fff


  .fika-pro:after
    color: #fff
    content:'BETA'
    padding: 2px 4px
    height 12px
    border-radius 2px
    font-size 10px
    vertical-align super
    margin-left 4px
    background: $primary.dark
  .fika-pro-item
    .fika-share-to-unlock
      display none
    &.fika-disabled
      position relative
      & > *:not(.fika-share-to-unlock)
        pointer-events none
        opacity 0.14
      & .fika-share-to-unlock
        position absolute
        top: 80px
        left: 50%
        cursor pointer
        text-align: center
        white-space nowrap
        transform translate(-50%, -50%)
        display block
        font-size: 17px

        button.fika-btn.fika-share-to-unlock-btn
          width: 100px !important
          color:#fff
          font-size: 14px
          height: 24px
          border-radius: 4px
          padding-right: 0 12px 0 8px !important



  .fika-photo-grid
    display flex
    flex-wrap wrap
    margin: 0 -4px;
    &-tab
      font-size: 16px
      opacity 0.4
      cursor pointer
      &:hover
        opacity 0.7
      &.selected
        color: $primary.dark
      &.active
        opacity 1
    &-item
      height: 68px
      flex-basis: 33.3333%
      width: 33.3333%
      border: 4px solid transparent
      position: relative
      cursor pointer
      radius(6px)
      overflow hidden
      .fill
        display: flex
        align-items: center
        justify-content: center
        height 100% !important
        width 100% !important
        object-fit: cover
      svg
        position absolute
        bottom 8px
        right 8px
        width 24px
        height 24px
        display none
        fill: #fff
        z-index: 1;
      &:hover
        img
          filter: brightness(0.8)
      &.active
        border: 4px solid $primary.dark
        svg
          display block

  .fika-autopilot-whitelist-item
    display flex
    justify-content space-between
    span
      line-height: 32px
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
    &:hover
      .fika-autopilot-delete
        display block
    .fika-autopilot-delete
      display none
      svg
        height 16px
        width 16px

  input:not([type=submit]).fika-input
    -webkit-appearance: none
    outline: none
    border-width: 0px
    border-bottom-width 2px
    border-bottom-style solid
    font-size: 16px
    $padding(a, 2)
    $padding(t, 1)
    $margin(b, 1)
    background: transparent
    slow-transition()
    &:focus
      border-bottom-color: $primary.dark !important

  #fika-login
    div + div
      font-size: 11px