@import "../variables.styl"

/*! Paper */

f-paper($theme)
  background: $theme.paper
  color: $theme.text

theme(f-paper, "f-paper")

.f-main-body
  width: 100%
  max-width: 880px
  $margin(x, auto)
  $margin(t, 3)
  $margin(b, 8)

.f-paper
  position:relative
  $padding(y, 3)
  $padding(x, 3)
  radius()
  shadow(1)

  @media screen and (max-width: 992px)
    margin: 0 52px

  @media screen and (max-width: 700px)
    margin: 0

  @media print
    box-shadow none
    color: #000 !important