@import "../variables.styl"

/*! Paper */

paper($theme)
  background: $theme.paper
  color: $theme.text

theme(paper, "paper")

.fika-app
  .fika-main-body
    position relative
    width: 100%
    max-width: 800px
    $margin(x, auto)
    $margin(t, 4)
    $margin(b, 8)
    @media screen and (max-width: 700px)
      margin: 0 0 16px 0

  .fika-paper
    position:relative
    $padding(y, 3)
    $padding(x, 3)
    radius()
    shadow(1)

    @media screen and (max-width: 992px)
      margin: 0 52px

    @media screen and (max-width: 700px)
      margin: 0

    @media print
      box-shadow none
      color: #000 !important