/*! Photo */

.fika-app
  .fika-photo-bg
    position fixed
    width 100%
    height 100%
    pointer-events none
    // photo bg switch
    opacity: 0
    short-transition()

    img
      //opacity 0.84
      width 100%
      height 100%
      object-fit cover


// adjust color when photo bg is turned on
.fika-app.fika-photo-bg-on
  .fika
    &-photo-bg
      opacity 1
    &-toc-static
      a
        color: #fff
        opacity 0.8 !important
    &-footer
      color: #fff
    &-toc-overlay
      opacity 1
