@import "../variables.styl"

/*! Select */

select($theme)
  &-sizes
  &-fonts
    background: $theme.bg

  &-size
  &-font
    &.active
      background: $theme.accent
    &:not(.active):hover
      background: rgba($theme.accent, 0.2)

  &-theme
    border: solid 1px $theme.text
    &.active
      transform scale(1.1)
      border: solid 4px $theme.accent


theme(select, "select")

for $name, $theme in $themes
  .fika-select-theme.theme-{$name}
    background: $theme.bg


.fika-select
  sans-serif()
  &-label
    $margin(t, 3)
    $margin(b, 1)
    font-size 10px
    text-transform uppercase
    opacity 0.6

  &-sizes
    height 32px
    width 100%
    radius(8px)
    display flex
    overflow hidden

    & .fika-select-size
      cursor pointer
      flex: 1 1 auto
      text-align center
      text-transform uppercase
      font-weight bold
      $center()
      short-transition()


      &.size-small
        font-size:12px

      &.size-medium
        font-size:14px

      &.size-large
        font-size:16px


  &-themes
    display flex

    & .fika-select-theme
      box-sizing border-box
      cursor pointer
      $margin(r, 2)
      border-radius 50%
      height 40px
      width 40px
      short-transition()


  &-fonts
    display flex
    flex-direction column
    radius(4px)
    $padding(y, 1)

    & .fika-select-font
      cursor pointer
      $padding(x, 2)
      $padding(y, 1)
      radius(4px)
      short-transition()
