

toc($theme)
  a
    color: $theme.text
    $margin(a, 0)
    font-weight normal
    sans-serif()

    & ,&:link ,&:visited ,&:active
      color: $theme.text


  &-static
    $scroll-bar-color($theme)

theme(toc, "toc")


$toc-h()
  $padding(a, 0)
  line-height 1.2
  overflow: hidden
  position: relative

$bullet(p)
  padding-left: p
  &:before
    content: ''
    position:absolute
    height 4px
    width 4px
    border-radius 50%
    background currentColor
    opacity 0.8
    left: p - 14 // 4 content + 8 padding
    top: 50%
    margin-top: - 2px


.fika-app
  .fika-toc
    sans-serif()
    position relative

    &-overlay
      position: absolute
      top: 0
      z-index: -1
      height: 100%;
      width: 100%;
      background-attachment fixed
      background-size cover
      background-position center
      filter: contrast(0.9) blur(16px);
      // photo bg switch
      opacity 0
      short-transition()

    &-static
      overflow-y: auto;
      word-break: break-word;
      height: calc(100vh - 120px);
      position: fixed
      top: 64px
      right: 50%
      width: 240px
      margin-right: 408px;
      $padding(a, 2)
      $padding(r, 1)
      $scroll-bar()

      //off state
      opacity 0
      transform: translateX(-24px)
      short-transition()
      // responsive
      @media screen and (max-width: 1264px)
        display none

      @media screen and (min-width: 1440px)
        margin-right: 448px

      &-active
        transform: translateX(0)
        opacity 1

    a
      display: block
      $margin(y, 1)
      cursor: pointer
      text-decoration: none
      font-weight normal
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      -webkit-text-fill-color: inherit
      overflow: hidden
      border-left: 2px solid transparent

      &.fika-toc-active
        border-left: 2px solid $primary.dark
        text-decoration: underline

      &:hover
        text-decoration underline

      &.fika-toc-
        &h1
          $toc-h()
          font-size: 16px !important
          opacity 1
          padding-left:6px
        &h2
          $toc-h()
          $bullet(20px)
          font-size: 14px !important
          opacity 0.7
        &h3
          $toc-h()
          $bullet(28px)
          font-size: 13px !important
          opacity 0.56
        &h4
          $toc-h()
          $bullet(36px)
          font-size: 13px !important
          opacity 0.48
        &h5
          $toc-h()
          $bullet(44px)
          font-size: 12px !important
          opacity 0.40
        &h6
          $toc-h()
          $bullet(52px)
          font-size: 12px !important
          opacity 0.32