@import "../variables.styl"

toc($theme)
  h1
  h2
  h3
  h4
  h5
  h6
  a
    color: $theme.text
    $margin(a, 0)
    font-weight normal
    sans-serif()


    & ,&:link ,&:visited ,&:active
      color: $theme.text


theme(toc, "toc")

.fika-app
  .fika-toc
    sans-serif()

    &-static
      position: fixed
      top: 48px
      right: 50%
      width: 240px
      margin-right: 464px
      @media screen and (max-width: 1400px)
        display none

    *
      font-weight normal

    &-empty
      opacity 0.4
      font-size: 16px

    a
      display block
      cursor pointer
      text-decoration none
      $padding(y,1)
      &:hover
        text-decoration underline

      *
        $margin(y,0)
        line-height 1.2
      h1
        font-size: 16px
        opacity 1
      h2
        font-size: 15px
        padding-left:12px
        opacity 0.8
      h3
        font-size: 15px
        padding-left:24px
        opacity 0.7
      h4
        font-size: 14px
        padding-left:36px
        opacity 0.6
      h5
        font-size: 14px
        padding-left:44px
        opacity 0.5
      h6
        font-size: 14px
        padding-left:52px
        opacity 0.5