@import "../variables.styl"

f-toc($theme)
  a
    & ,&:link ,&:visited ,&:active
      color: $theme.text


theme(f-toc, 'f-toc')

.f-toc
  sans-serif()

  &-static
    position absolute
    right: 50%
    width: 240px
    top: 24px
    margin-right: 456px
    @media screen and (max-width: 1400px)
      display none

  *
    font-weight normal

  &-empty
    opacity 0.4
    font-size: 16px

  a
    display block
    cursor pointer
    text-decoration none
    $padding(y,1)
    &:hover
      text-decoration underline

    *
      $margin(y,0)
      line-height 1.2
    h1
      font-size: 16px
      opacity 1
    h2
      font-size: 15px
      padding-left:8px
      opacity 0.9
    h3
      font-size: 15px
      padding-left:16px
      opacity 0.8
    h4
      font-size: 14px
      padding-left:24px
      opacity 0.75
    h5
      font-size: 14px
      padding-left:32px
      opacity 0.75
    h6
      font-size: 14px
      padding-left:40px
      opacity 0.7