

/*! Tool Menu */

tool($theme)
  background: $theme.paper
  color: $theme.text

theme(tool, "tool")

.fika-app
  .fika-tool
    position: fixed
    right: -224px;
    top: 32px
    height: 48px
    width: 280px
    padding: 6px 8px
    display flex
    radius(24px)
    box-shadow 0 2px 12px 0 rgba(0,0,0,.24)
    short-transition()
    cursor pointer
    $z-index(tool)
    user-select: none;
    -webkit-user-select: none;
    @media print
      display none

    button
      margin-left 0 !important

    &-on
      transform: translateX(-188px)

      #fika-tool-btn
        transform rotate(180deg)

#fika-fullscreen
  svg
    &:first-child
      display none

    &:nth-child(2)
      display block

  &.fs-on svg
    &:first-child
      display block

    &:nth-child(2)
      display none
