.fika-app
  .fika-user
    $padding(x, 2)
    display: flex;
    align-items: center;
    &-avatar
      height: 24px
      width: 24px
      border-radius: 50%
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
    &-name
      font-size: 12px;

  .fika-user-expand-on
    transform: rotate(180deg)
